<div class="card">
    <p-menubar>
        <ng-template pTemplate="start">
            <figure class="mx-2 my-0">
                <img class="w-2rem" src="./assets/images/logo.svg" alt="logo">
            </figure>
        </ng-template>

        <ng-template pTemplate="end">
            @for (item of items; track $index) {
            <a pRipple [routerLink]="item?.['path']" routerLinkActive="underline border-1"
                class="p-menuitem-link p-link inline-flex justify-content-center align-items-center transition-all transition-duration-200 p-2 mx-1 text-black-alpha-70 hover:bg-black-alpha-10">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
            </a>
            }
        </ng-template>
    </p-menubar>
</div>